::placeholder {
  color: gray;
}

body {
  background-image: url(postcss.png);
}

@media (min-resolution: 2dppx) {
  body {
    background-image: url(autoprefix.png);
  }
}

.example {
  display: none;
  position: relative;
  transform: translate(10, 10);
}
